<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.dao.DailyDateMapper">

    <insert id="insertDayList">
        insert into ms_ylh_data_day(
        id, memberid, appid, appname, slotid, slotname, date, reqcount, retcount, pv, click, fillrate, exprate, clickrate, revenue, ecpm
        )
        values
        <foreach collection="list" item="item" index="index" open="" separator="," close="">
            (#{item.id},#{item.member_id},#{item.app_id},#{item.medium_name},#{item.placement_id},
             #{item.placement_name},#{item.date},#{item.ad_request_count},
             #{item.ad_return_count},#{item.pv},#{item.click},#{item.ad_fill_rate},#{item.ad_exposure_rate},
             #{item.click_rate},#{item.revenue},#{item.ecpm})
        </foreach>
        ON DUPLICATE KEY UPDATE date = values(date),reqcount = values(reqcount),retcount = values(retcount),
                                pv = values(pv),click = values(click),fillrate = values(fillrate),exprate = values(exprate),
                                clickrate = values(clickrate),revenue = values(revenue),ecpm = values(ecpm)
    </insert>

    <insert id="insertHourList">
        insert into ms_ylh_data_day(id, appid, appname, slotid, slotname, revenue, ecpm, pv, click, clickrate)
        values
        <foreach collection="list" item="item" index="index" open="" separator="," close="">
            (#{item.id},#{item.app_id},#{item.medium_name},#{item.placement_id},
            #{item.placement_name},#{item.revenue},#{item.ecpm},
            #{item.pv},#{item.click},#{item.click_rate})
        </foreach>
    </insert>

    <select id="selectDayData" resultType="com.ruoyi.vo.DayDataListVo">
        select msday.id, msday.appname, msday.slotname, msday.date, cast(msday.ad_request_count as int) as ad_request_count ,
        cast(msday.ad_return_count as int) as ad_return_count ,
        cast(msday.pv as int) as pv , cast(msday.click as int) as click,
        cast(LEFT(msday.fillrate,LENGTH(msday.fillrate)-1) as float) as ad_fill_rate,
        cast(LEFT(msday.exprate,LENGTH(msday.exprate)-1) as float) as ad_exposure_rate,
        cast(LEFT(msday.clickrate,LENGTH(msday.clickrate)-1) as float) as click_rate,
        msday.revenue, msday.ecpm
        from ms_ylh_data_day msday
        <where>
        <if test="dayDataListQuery.mediaName != null and dayDataListQuery.mediaName != ''">
            and msday.appname like concat('%',#{dayDataListQuery.mediaName},'%')
        </if>
        <if test="dayDataListQuery.startDate != null and dayDataListQuery.startDate != ''">
            and date(msday.date) &gt;= #{dayDataListQuery.startDate}
        </if>
            <if test="dayDataListQuery.endDate != null and dayDataListQuery.endDate != ''">
                and date(msday.date) &lt;= #{dayDataListQuery.endDate}
            </if>
        </where>
        order by msday.date desc
    </select>

    <!--总览-->
<!--                   round(AVG(LEFT(msday.ad_fill_rate,LENGTH(msday.ad_fill_rate)-1)+0),2) as ad_fill_rate,
               round(AVG(LEFT(msday.click_rate,LENGTH(msday.click_rate)-1)+0),2) as click_rate,
               round(AVG(LEFT(msday.ad_exposure_rate,LENGTH(msday.ad_exposure_rate)-1)+0),2) as ad_exposure_rate,-->
    <select id="selectOverview" resultType="com.ruoyi.vo.DayDataListVo">
        select msday.appname as medium_name, msday.slotname, msday.date,
               SUM(msday.reqcount+0) as ad_request_count,
               SUM(msday.retcount+0) as ad_return_count,
               SUM(msday.pv+0) as pv, SUM(msday.click+0) as click,
               round(AVG(LEFT(msday.fillrate,LENGTH(msday.fillrate)-1)+0),2) as ad_fill_rate,
               round(SUM(msday.click+0)/SUM(msday.pv+0)*100,2) as click_rate,
               round(AVG(LEFT(msday.exprate,LENGTH(msday.exprate)-1)+0),2) as ad_exposure_rate,
               SUM(msday.revenue) as revenue,SUM(msday.ecpm) as ecpm
               from ms_ylh_data_day msday
        where appname != ''
        <if test="dayDataListQuery.mediaName != null and dayDataListQuery.mediaName != ''">
            and msday.appname like concat('%',#{dayDataListQuery.mediaName},'%')
        </if>
        <if test="dayDataListQuery.startDate != null and dayDataListQuery.startDate != ''">
            and date(msday.date) &gt;= #{dayDataListQuery.startDate}
        </if>
        <if test="dayDataListQuery.endDate != null and dayDataListQuery.endDate != ''">
            and date(msday.date) &lt;= #{dayDataListQuery.endDate}
        </if>
        <trim prefix="group by" prefixOverrides=",">
            <if test="dayDataListQuery.byMediumName == false or dayDataListQuery.byDate == true">
                msday.date
            </if>
            <if test="dayDataListQuery.byMediumName == true">
                ,msday.appname
            </if>
        </trim>
        order by msday.date desc
    </select>
    <!--查询媒体-->
    <select id="selectMediaName" resultType="java.lang.String">
        select appname from ms_ylh_data_day group by appname
    </select>

    <!--查询广告位名称-->
    <select id="selectPlacementName" resultType="java.lang.String">
        select slotname from ms_ylh_data_day
        <where>
            <if test="mediaName!='null' and mediaName !=''">
                appname = #{mediaName}
            </if>
        </where>
        group by pname
    </select>
</mapper>
