<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.dao.PlatformMapper">
    <select id="selectPlatformName" resultType="java.lang.String">
        select name from ms_platform
    </select>
    <select id="selectPlatformList" resultType="com.ruoyi.vo.PlatformVo">
        select * from ms_platform
        <where>
            <if test="platformQuery.id != null and platformQuery.id != ''">
                and id = #{platformQuery.id}
            </if>
            <if test="platformQuery.platform_id != null and platformQuery.id != ''">
                and platform_id = #{platformQuery.platform_id}
            </if>
            <if test="platformQuery.name != null and platformQuery.name != ''">
                and name like concat('%',#{platformQuery.name},'%')
            </if>
            <if test="platformQuery.company != null and platformQuery.company != ''">
                and company like concat('%',#{platformQuery.company},'%')
            </if>
        </where>
    </select>
    <delete id="deleteMany" parameterType="Long">
        delete ms_platform.* from ms_platform
        where ms_platform.id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <update id="updateInfo">
        update ms_platform msp
        <set>
            msp.name = #{updatePlatformForm.name},
            msp.company = #{updatePlatformForm.company},
            msp.secret = #{updatePlatformForm.secret},
            msp.alias = #{updatePlatformForm.alias}
        </set>
        where msp.id = #{updatePlatformForm.id}
    </update>

    <insert id="insertInfo">
        insert into ms_platform (id, name, company, secret, alias) VALUES (
        #{updatePlatformForm.id},#{updatePlatformForm.name},#{updatePlatformForm.company},#{updatePlatformForm.secret},#{updatePlatformForm.alias}
                                                                          )
    </insert>
</mapper>
