<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.dao.SummaryMapper">

<!--    每个应用每天一条数据(穿山甲) -->
    <select id="AnyAppOneDateDataCSJ" resultType="com.ruoyi.vo.AnyAppOneDateDataVo">
        select SUM(csj.revenue)*app.rate/100 as cincome,app.id as aid,csj.date as date,
               user.user_id as uid,app.state
        from ms_app app
                 left join ms_csj_data_day csj on cid = csj.appid
        left join sys_user user on app.uid = user.user_id
        where csj.date = #{date}
        group by csj.date,app.name
    </select>
    <!--    每个应用每天一条数据(优量汇) -->
    <select id="AnyAppOneDateDataYLH" resultType="com.ruoyi.vo.AnyAppOneDateDataVo">
        select SUM(ylh.revenue)*app.rate/100 as tincome,app.id as aid,ylh.date as date,
               user.user_id as uid,app.state
        from ms_app app
                 left join ms_ylh_data_day ylh on app.tid = ylh.app_id
                 left join sys_user user on app.uid = user.user_id
        where ylh.date = #{date}
        group by ylh.date,app.name
    </select>

<!--    整合到adata_bus表中-->
    <insert id="insertIntoBus">
        insert into moshang.ms_adata_bus(time, aid, uid, cincome, tincome,state) VALUES
        <foreach collection="list" item="item" index="index" open="" separator="," close="">
            (#{item.date},#{item.aid},#{item.uid},#{item.cincome},#{item.tincome},#{item.state})
        </foreach>
        ON DUPLICATE KEY UPDATE tincome = values(tincome)
    </insert>
<!--整合到sum表中-->
    <select id="selectAnyUser" resultType="com.ruoyi.vo.AnyUserAnyDateVo">
        select SUM(cincome) as cincome,SUM(tincome) as tincome,uid,time,ms_adata_bus.state as state
        from ms_adata_bus
        where ms_adata_bus.time = #{date}
        GROUP BY ms_adata_bus.time,ms_adata_bus.uid
    </select>
    <insert id="insertIntoSum">
        insert into moshang.ms_adata_sum(time, uid, cincome, tincome, state) VALUES
        <foreach collection="list" item="item" index="index" open="" separator="," close="">
            (#{item.time},#{item.uid},#{item.cincome},#{item.tincome},#{item.state})
        </foreach>
    </insert>
<!--    页面展示 -->
    <select id="pageShow" resultType="com.ruoyi.vo.SummaryShowVo">
        select bus.cincome as cincome,bus.tincome as tincome,bus.time as time,user.nick_name as nickName,app.name as appName,app.pkg as pkg,bus.tincome+bus.cincome as total
        from ms_adata_bus bus
        left join ms_app app on bus.aid = app.id
        left join sys_user user on user.user_id = bus.uid
        where 1=1
        <if test="summaryQuery.userId != null and summaryQuery.userId != ''">
           and bus.uid = #{summaryQuery.userId}
        </if>
          <if test="summaryQuery.startDate != null and summaryQuery.startDate != ''">
              and date(bus.time) &gt;= #{summaryQuery.startDate}
          </if>
        <if test="summaryQuery.endDate != null and summaryQuery.endDate != ''">
            and date(bus.time) &lt;= #{summaryQuery.endDate}
        </if>
            <if test="summaryQuery.appName != null and summaryQuery.appName != ''">
                and app.name like concat('%',#{summaryQuery.appName} ,'%')
            </if>
        <if test="summaryQuery.pkg != null and summaryQuery.pkg != ''">
            and app.pkg like concat('%',#{summaryQuery.pkg},'%')
        </if>
        order by bus.time desc
    </select>
<!--    页面展示(用户)-->
    <select id="pageShowUser" resultType="com.ruoyi.vo.SummaryShowVo">
        select sum.cincome as cincome,sum.tincome as tincome,sum.time as time,user.nick_name as nickName,sum.tincome+sum.cincome as total from ms_adata_sum sum
        left join sys_user user on user.user_id = sum.uid
        where 1=1
        <if test="summaryQuery.userId != null and summaryQuery.userId != ''">
          and  sum.uid = #{summaryQuery.userId}
        </if>
        <if test="summaryQuery.startDate != null and summaryQuery.startDate != ''">
            and date(sum.time) &gt;= #{summaryQuery.startDate}
        </if>
        <if test="summaryQuery.endDate != null and summaryQuery.endDate != ''">
            and date(sum.time) &lt;= #{summaryQuery.endDate}
        </if>
        order by sum.time desc
    </select>
</mapper>
